-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: bloodbank
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (2,'Secondary Admin'),(1,'Super Admin');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
INSERT INTO `auth_group_permissions` VALUES (2,1,25),(3,1,26),(4,1,27),(5,1,28),(6,1,29),(7,1,30),(8,1,31),(1,1,32),(10,2,26),(11,2,28),(9,2,32);
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
INSERT INTO `auth_user_groups` VALUES (1,1,1),(2,3,2),(3,9,2);
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES (1,'2025-10-21 05:43:37.980247','1','Akshay Manoj (E123099) - Super Admin',1,'[{\"added\": {}}]',8,1);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(8,'myapp','adminprofile'),(15,'myapp','bloodbank'),(10,'myapp','blooddonation'),(11,'myapp','bloodrequest'),(7,'myapp','donorprofile'),(12,'myapp','inventory'),(14,'myapp','notification'),(9,'myapp','patientprofile'),(13,'myapp','timeslot'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_adminprofile`
--

DROP TABLE IF EXISTS `myapp_adminprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_adminprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `employee_id` varchar(20) NOT NULL,
  `department` varchar(50) NOT NULL,
  `phone_number` varchar(15) NOT NULL,
  `is_super_admin` tinyint(1) NOT NULL,
  `is_secondary_admin` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `created_by_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `myapp_adminprofile_created_by_id_945584ee_fk_auth_user_id` (`created_by_id`),
  CONSTRAINT `myapp_adminprofile_created_by_id_945584ee_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `myapp_adminprofile_user_id_41b4666f_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_adminprofile`
--

LOCK TABLES `myapp_adminprofile` WRITE;
/*!40000 ALTER TABLE `myapp_adminprofile` DISABLE KEYS */;
INSERT INTO `myapp_adminprofile` VALUES (1,'Akshay Manoj','E123099','ED','8590955686',1,0,1,'2025-10-21 05:43:37.976221','2025-10-21 05:43:37.977230',1,1),(2,'Dani','E123101','ED','',0,1,1,'2025-10-21 06:18:12.837815','2025-10-21 06:19:11.185889',NULL,3),(3,'Test Admin','EMP001','IT','',0,0,1,'2025-10-23 06:13:02.562557','2025-10-23 06:13:02.562557',NULL,7),(4,'Arathi','E12346','Ortho','',0,1,1,'2025-10-23 07:03:15.063569','2025-10-23 07:04:40.045346',NULL,9);
/*!40000 ALTER TABLE `myapp_adminprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_bloodbank`
--

DROP TABLE IF EXISTS `myapp_bloodbank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_bloodbank` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blood_group` varchar(3) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `storage_date` date NOT NULL,
  `expiry_date` date NOT NULL,
  `status` varchar(20) NOT NULL,
  `location` varchar(50) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `donation_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `donation_id` (`donation_id`),
  CONSTRAINT `myapp_bloodbank_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_bloodbank`
--

LOCK TABLES `myapp_bloodbank` WRITE;
/*!40000 ALTER TABLE `myapp_bloodbank` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_bloodbank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_blooddonation`
--

DROP TABLE IF EXISTS `myapp_blooddonation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_blooddonation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `donation_date` date NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `donor_id` bigint NOT NULL,
  `timeslot_id` bigint DEFAULT NULL,
  `appointment_date` date DEFAULT NULL,
  `final_approved_at` datetime(6) DEFAULT NULL,
  `final_approved_by_id` int DEFAULT NULL,
  `initial_approved_at` datetime(6) DEFAULT NULL,
  `initial_approved_by_id` int DEFAULT NULL,
  `rejected_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `myapp_blooddonation_donor_id_328927c2_fk_myapp_donorprofile_id` (`donor_id`),
  KEY `myapp_blooddonation_timeslot_id_947a2670_fk_myapp_timeslot_id` (`timeslot_id`),
  KEY `myapp_blooddonation_final_approved_by_id_23b703f9_fk_auth_user` (`final_approved_by_id`),
  KEY `myapp_blooddonation_initial_approved_by__cf8aac55_fk_auth_user` (`initial_approved_by_id`),
  CONSTRAINT `myapp_blooddonation_donor_id_328927c2_fk_myapp_donorprofile_id` FOREIGN KEY (`donor_id`) REFERENCES `myapp_donorprofile` (`id`),
  CONSTRAINT `myapp_blooddonation_final_approved_by_id_23b703f9_fk_auth_user` FOREIGN KEY (`final_approved_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `myapp_blooddonation_initial_approved_by__cf8aac55_fk_auth_user` FOREIGN KEY (`initial_approved_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `myapp_blooddonation_timeslot_id_947a2670_fk_myapp_timeslot_id` FOREIGN KEY (`timeslot_id`) REFERENCES `myapp_timeslot` (`id`),
  CONSTRAINT `myapp_blooddonation_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_blooddonation`
--

LOCK TABLES `myapp_blooddonation` WRITE;
/*!40000 ALTER TABLE `myapp_blooddonation` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_blooddonation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_bloodrequest`
--

DROP TABLE IF EXISTS `myapp_bloodrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_bloodrequest` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blood_group` varchar(3) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `donor_id` bigint DEFAULT NULL,
  `patient_id` bigint NOT NULL,
  `fulfilled_quantity` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `myapp_bloodrequest_donor_id_3c4454e9_fk_myapp_donorprofile_id` (`donor_id`),
  KEY `myapp_bloodrequest_patient_id_8658d1b7_fk_myapp_pat` (`patient_id`),
  CONSTRAINT `myapp_bloodrequest_donor_id_3c4454e9_fk_myapp_donorprofile_id` FOREIGN KEY (`donor_id`) REFERENCES `myapp_donorprofile` (`id`),
  CONSTRAINT `myapp_bloodrequest_patient_id_8658d1b7_fk_myapp_pat` FOREIGN KEY (`patient_id`) REFERENCES `myapp_patientprofile` (`id`),
  CONSTRAINT `myapp_bloodrequest_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_bloodrequest`
--

LOCK TABLES `myapp_bloodrequest` WRITE;
/*!40000 ALTER TABLE `myapp_bloodrequest` DISABLE KEYS */;
INSERT INTO `myapp_bloodrequest` VALUES (1,'B+',1,'approved','2025-10-21 06:55:11.247465','2025-10-28 06:07:09.134658',NULL,1,0),(2,'B+',1,'approved','2025-10-23 07:09:36.952188','2025-10-23 07:10:07.381897',NULL,2,0),(3,'O+',1,'fulfilled','2025-10-28 19:09:29.998565','2025-10-28 19:28:40.572996',NULL,3,1),(4,'A+',1,'fulfilled','2025-10-28 19:55:54.503502','2025-10-28 19:56:27.019105',NULL,4,1),(5,'O+',1,'fulfilled','2025-10-28 20:03:30.781020','2025-10-28 20:05:54.513288',NULL,5,1),(6,'A+',1,'fulfilled','2025-10-28 20:07:18.226646','2025-10-28 20:08:07.682641',NULL,4,1);
/*!40000 ALTER TABLE `myapp_bloodrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_donorprofile`
--

DROP TABLE IF EXISTS `myapp_donorprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_donorprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `age` int unsigned DEFAULT NULL,
  `blood_group` varchar(3) NOT NULL,
  `contact_number` varchar(15) NOT NULL,
  `address` longtext NOT NULL,
  `gender` varchar(10) NOT NULL,
  `weight` int unsigned DEFAULT NULL,
  `height` int unsigned DEFAULT NULL,
  `medical_conditions` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `last_donation_date` date DEFAULT NULL,
  `next_eligible_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `myapp_donorprofile_user_id_50712d0a_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `myapp_donorprofile_chk_1` CHECK ((`age` >= 0)),
  CONSTRAINT `myapp_donorprofile_chk_2` CHECK ((`weight` >= 0)),
  CONSTRAINT `myapp_donorprofile_chk_3` CHECK ((`height` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_donorprofile`
--

LOCK TABLES `myapp_donorprofile` WRITE;
/*!40000 ALTER TABLE `myapp_donorprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_donorprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_inventory`
--

DROP TABLE IF EXISTS `myapp_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_inventory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blood_group` varchar(3) NOT NULL,
  `quantity` int unsigned NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `blood_group` (`blood_group`),
  CONSTRAINT `myapp_inventory_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_inventory`
--

LOCK TABLES `myapp_inventory` WRITE;
/*!40000 ALTER TABLE `myapp_inventory` DISABLE KEYS */;
INSERT INTO `myapp_inventory` VALUES (1,'A+',2,'2025-10-23 06:15:27.964384'),(2,'O+',1,'2025-10-24 05:37:02.956201'),(3,'B+',2,'2025-10-24 07:28:49.864606');
/*!40000 ALTER TABLE `myapp_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_notification`
--

DROP TABLE IF EXISTS `myapp_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `message` longtext NOT NULL,
  `notification_type` varchar(20) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `recipient_id` int NOT NULL,
  `related_donation_id` bigint DEFAULT NULL,
  `related_request_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `myapp_notification_recipient_id_2fe654f6_fk_auth_user_id` (`recipient_id`),
  KEY `myapp_notification_related_donation_id_25cf847a_fk_myapp_blo` (`related_donation_id`),
  KEY `myapp_notification_related_request_id_b0c90d98_fk_myapp_blo` (`related_request_id`),
  CONSTRAINT `myapp_notification_recipient_id_2fe654f6_fk_auth_user_id` FOREIGN KEY (`recipient_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `myapp_notification_related_donation_id_25cf847a_fk_myapp_blo` FOREIGN KEY (`related_donation_id`) REFERENCES `myapp_blooddonation` (`id`),
  CONSTRAINT `myapp_notification_related_request_id_b0c90d98_fk_myapp_blo` FOREIGN KEY (`related_request_id`) REFERENCES `myapp_bloodrequest` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_notification`
--

LOCK TABLES `myapp_notification` WRITE;
/*!40000 ALTER TABLE `myapp_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_patientprofile`
--

DROP TABLE IF EXISTS `myapp_patientprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_patientprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `age` int unsigned NOT NULL,
  `blood_group` varchar(3) NOT NULL,
  `contact_number` varchar(15) NOT NULL,
  `address` longtext NOT NULL,
  `gender` varchar(10) NOT NULL,
  `emergency_contact` varchar(15) NOT NULL,
  `medical_history` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `myapp_patientprofile_user_id_7969bffb_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `myapp_patientprofile_chk_1` CHECK ((`age` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_patientprofile`
--

LOCK TABLES `myapp_patientprofile` WRITE;
/*!40000 ALTER TABLE `myapp_patientprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_patientprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `myapp_timeslot`
--

DROP TABLE IF EXISTS `myapp_timeslot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `myapp_timeslot` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `start_time` time(6) NOT NULL,
  `end_time` time(6) NOT NULL,
  `capacity` int unsigned NOT NULL,
  `booked_count` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `myapp_timeslot_date_start_time_end_time_fb38bf4b_uniq` (`date`,`start_time`,`end_time`),
  CONSTRAINT `myapp_timeslot_chk_1` CHECK ((`capacity` >= 0)),
  CONSTRAINT `myapp_timeslot_chk_2` CHECK ((`booked_count` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `myapp_timeslot`
--

LOCK TABLES `myapp_timeslot` WRITE;
/*!40000 ALTER TABLE `myapp_timeslot` DISABLE KEYS */;
INSERT INTO `myapp_timeslot` VALUES (1,'2025-10-23','09:00:00.000000','10:00:00.000000',5,1,1),(2,'2025-10-23','10:00:00.000000','11:00:00.000000',5,0,1),(3,'2025-10-24','09:00:00.000000','10:00:00.000000',10,0,1),(4,'2025-10-27','11:00:00.000000','15:00:00.000000',5,4,1),(5,'2025-10-28','09:30:00.000000','12:30:00.000000',6,1,1),(6,'2025-10-29','11:00:00.000000','15:00:00.000000',3,3,1),(7,'2025-10-30','10:00:00.000000','04:00:00.000000',7,1,1);
/*!40000 ALTER TABLE `myapp_timeslot` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-30 12:46:18
